<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios | Paso Fino Estilo & Moda</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/estilos/estilos.css">
    <link rel="stylesheet" href="/css/cabeza_piepagina/cabeza_piepagina.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <div th:replace="~{cabeza_piepagina/cabeza.html :: cabecera}"></div>
  <header><h1>Comentarios</h1></header>
  <main>
    <h2>Tu opinión importa</h2>
    <p>Déjanos tus comentarios para seguir ofreciendo moda y glamour.</p>
    <a href="index.html" class="btn-volver">Volver</a>
  </main>
  <div th:replace="~{cabeza_piepagina/piepagina.html :: piepagina}"></div>
</body>
</html>
