<div th:fragment="cabecera">
    <!-- Encabezado -->
    <header class="encabezado">
        <div class="header-left">
            <img src="/img/nuevo logo2.png" alt="Logo PasoFino" class="logo">
        </div>

        <!-- Menú escritorio (PC) -->
        <nav class="menu-escritorio">
            <ul>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
                <li><a href="/#">#</a></li>
            </ul>
        </nav>

        <button id="carrito-principal" class="agregar-al-carrito" onclick="window.location.href='/carrito/ver'">
            <span class="icono-carrito">&#128722;</span>
            <div id="carrito-contenido" class="oculto"></div>

        </button>

        <div class="header-right">
            <button onclick="location.href='/login'">Iniciar Sesión</button>
            <!-- Botón hamburguesa debajo -->
            <button id="menu-btn" class="hamburger">&#9776;</button>
        </div>
    </header>


    <!-- Menú móvil (off-canvas) -->
    <nav id="side-menu" class="menu-movil">
        <button id="close-menu" class="close-btn">&times;</button>
        <ul>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
            <li><a href="/#">#</a></li>
        </ul>
    </nav>


</div>