<div th:fragment="piepagina">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column logo">
                <img src="/img/nuevo Logo2.png" alt="Farmatodo Logo" class="footer-logo">
            </div>
            <div class="footer-column">
                <h4>NUESTRAS TIENDAS</h4>
                <ul>
                    <li><a href="#">Ubicar Tienda</a></li>
                </ul>
                <h4>NOSOTROS</h4>
                <ul>
                    <li>Carrera 11a#98-50</li>
                    <li>Bogotá, Colombia</li>
                    <li>6017469000</li>
                    <li><a href="mailto:contactenos@farmatodo.com">contactenos@farmavida.com</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>CATEGORÍAS</h4>
                <ul>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#">#</a></li>
                    <li><a href="#"># </a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>OTROS LINKS</h4>
                <ul>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de tratamiento de datos personales</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Envíalo ya</a></li>
                    <li><a href="#">Folleto de ofertas</a></li>
                    <li><a href="#">Peticiones, quejas o reclamos</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Links Secretarías de Salud?????</a></li>
                    <li><a href="#">Empleos</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="payment-methods">
                <i class='bx bxl-visa'></i>
                <i class='bx bxl-mastercard'></i>
                <i class='bx bxl-american-express'></i>
                <i class='bx bxs-credit-card'></i> <!-- Diners o genérico -->
                <i class='bx bxs-devices'></i> <!-- Datafono (genérico) -->
                <i class='bx bx-package'></i> <!-- Contraentrega -->
            </div>
            <div class="legal-info">
                <p>&copy; 2025 FarmaVida S.A.</p>
                <p>COL-V5607-0.10</p>
            </div>
            <div class="footer-logos">
                <img src="/img/superintendencia.png" alt="Superintendencia">
                <img src="/img/parecompare.png" alt="¡Pare y compare!">
            </div>
            <div class="footer-credits">
                <p>Diseñado por <a href="#">Imaginamos</a></p>
            </div>
            <div class="social-icons">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
    </footer>
</div>