<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos por Categoría | Paso Fino Estilo & Moda</title>
  <link rel="stylesheet" href="/css/crud/crud.css" />
  <script defer src="/js/crud/categorias.js"></script>
</head>
<body>

  <div style="margin: 10px 0; text-align: right;">
    <a href="/crud"><button>Volver al CRUD</button></a>
  </div>

  <div class="container">
    <h1>Productos por Categoría</h1>
    <div id="categoriasContainer"></div>
  </div>

  
</body>
</html>
