<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Productos | Paso Fino Estilo & Moda</title>
  <link rel="stylesheet" href="/css/crud/crud.css" />
  <script defer src="/js/crud/lista.js"></script>
</head>
<body>

  <div style="margin: 10px 0; text-align: right;">
    <a href="/crud"><button>Volver al CRUD</button></a>
  </div>

  <div class="container">
    <h1>Lista de Productos</h1>

    <div class="tabla-responsive">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categoría</th>
            <th>Acciones</th> <!-- Para los botones Editar/Eliminar -->
          </tr>
        </thead>
        <tbody id="listaProductosBody"></tbody>
      </table>
    </div>
  </div>
</body>
</html>
