<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Loguin | Paso Fino Estilo & Moda</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/loguin/loguin.css">
    <script defer src="/js/loguin/loguin.js"></script>
</head>
<body>
    <div id="container" class="container">
        <div class="form-container sign-up">
            <form action="#">
                <h1>Crear Cuenta</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-github'></i></a>
                </div> -->
                <span>o usa tu correo electrónico para registrarte</span>
                <input type="text" id="register-nombre" placeholder="Nombre" required>
                <small class="error-message"></small>
                <input type="email" id="register-email" placeholder="Correo Electrónico" required>
                <small id="register-email-error" class="error-message"></small>
                <input type="password" placeholder="Contraseña" required>
                <small class="error-message"></small>
                <button type="button" id="register-btn">Registrarse</button>
            </form>
        </div> 

        <div class="form-container sign-in">
            <form action="#">
                <h1>Iniciar Sesión</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-github'></i></a>
                </div> -->
                <span>o usa tu correo y contraseña</span>
                <input type="email" id="login-email" placeholder="Correo Electrónico" required>
                <small id="login-email-error" class="error-message"></small>
                <input type="password" placeholder="Contraseña" required>
                <small class="error-message"></small>
                <a href="#" class="fp">¿Olvidaste tu contraseña?</a>
                <button type="button" id="login-btn">Iniciar Sesión</button>
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Iniciar Sesión</h1>
                    <p>Introduce tus datos personales para usar todas las funciones del sitio</p>
                    <button class="hidden" id="login">Iniciar Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¡Hola Amigo!</h1>
                    <p>Regístrate con tus datos personales para usar todas las funciones del sitio</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
