<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paso Fino Estilo & Moda</title>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/cabeza_piepagina/cabeza_piepagina.css">
  <script src="/js/index.js" defer></script>
</head>
<body>


  <div th:replace="~{cabeza_piepagina/cabeza.html :: cabecera}"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

 <h1>Somos Paso Fino Estilo & Moda</h1>
<p>
    En <strong>Paso Fino Estilo & Moda</strong> nos especializamos en ofrecer calzado, ropa y una amplia variedad 
    de accesorios como gorras, bolsos y mucho más. Nuestro objetivo es brindarte las últimas tendencias 
    de la moda, combinando calidad, estilo y precios accesibles para que siempre luzcas increíble.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <section class="info-section">
    <div class="info-card">
        <img src="img/envios-100x100.png" alt="Envíos">
        <h3>Envíos</h3>
        <p>Haz tu pedido con confianza, nosotros nos encargamos de enviarlo.</p>
        <a href="/envios" class="btn-link">ver más</a>
    </div>

    <div class="info-card">
        <img src="img/contacto-100x100.png" alt="Contacto">
        <h3>Contacto</h3>
        <p>Contáctanos si tienes alguna inquietud acerca de tu producto.</p>
        <a href="/contacto" class="btn-link">ver más</a>
    </div>

    <div class="info-card">
        <img src="img/terminos-y-condiciones.png" alt="Términos y condiciones">
        <h3>Términos y condiciones</h3>
        <p>Conoce los términos y condiciones de nuestra página.</p>
        <a href="/terminos" class="btn-link">ver más</a>
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <div th:replace="~{cabeza_piepagina/piepagina.html :: piepagina}"></div>

</body>
</html>